:root {
    --font-color: white;
    --background-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    max-width: 2550px;
}   

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 0px;
}

section {
    display: block;
    margin-bottom: 0px;
}

section h2 {
    display: block;
    font-size: 16px;
    margin-bottom: 0px;
}

.place {
    display: block;
    position: relative;
    left: 70px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.place::before {
    content: "- ";
}

.des {
    display: block;
    position: relative;
    font-size: 12px;
    width: 700px;
    left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    display: block;
    position: relative;
    left: 70px;
    width: 800px;
    font-size: 12px;
    margin-top: 0px;
}

#grid {
    display: grid;
    grid-template-columns: auto;
    gap: 0px 10px;
}

#grid > p {
    text-indent: 10px;
    display: block;
    position: relative;
    font-size: 12px;
    width: 700px;
    left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#grid > p::before {
    content: "* ";
}
#first {
    margin-top: 0px;
}

#next {
    margin-top: 10px;
}

.skills {
    display: block;
    position: relative;
    left: 70px;
    width: 800px;
    font-size: 12px;
    margin-top: 0px;
}

.skills > p {
    margin-bottom: 10px;
    margin-top: 0px;
}

.skills > p::before {
    content: "- ";
}